<div class="page">
  <br>
  <h2 class="w-[95%] md:w-[90%] m-auto text-3xl">{{ category }}</h2>
  <br>
  <div class="w-[95%] md:w-[90%] flex gap-2 m-auto">
    <app-pcFilter/>
    <div class="w-full h-full grid gap-2">
      <div class="w-full h-[calc(100vh-70px)] rounded-xl overflow-y-auto columns-2 md:columns-4 auto-rows-max p-2 bg-primary">
        @for (bike of list; track list) {
          <list_bike [bike]="bike" [category]="category"/>
        }
      </div>
      <div class="w-full grid-cols-10 p-2 overflow-x-auto hide-scroll-bar">

        @for (page of total_pages; track total_pages){
          <button class="square-btn">
            {{page}}
          </button>
        }
      </div>
    </div>
  </div>
</div>
